@model List<Beneficia.BusArquitectura.Buss.Testimonio>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <header class="hero-banner project-bg">
        <a class="navbar-brand" href="/Arquitectura/Index">
            <img src="~/img/logo.png" alt="">
        </a>
        <div class="container">
            <h2 class="section-intro__subtitle">About Us</h2>
            <div class="btn-group breadcrumb">
                <a href="/Arquitectura/Index" class="btn">Home</a>
                <span class="btn btn--rightBorder">About</span>
            </div>
        </div>
    </header>

    <section class="about section-margin mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="about__img text-center text-md-left mb-5 mb-md-0">
                        <img class="img-fluid" src="~/img/about.png" alt="">
                        <a href="/Arquitectura/About" class="about__img__date text-center">
                            <h3>26</h3>
                            <p>Años <br> de Creatividad</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 pl-xl-5">
                    <div class="section-intro">
                        <h4 class="section-intro__title">sobre nuestra compañia</h4>
                        <h2 class="section-intro__subtitle">Hemos estado creando <br> algo impresionante desde 1992</h2>
                    </div>
                    <p>
                        La arquitectura moderna tuvo sus inicios en Francia y es la combinación de estilos y corrientes de arquitectura que se han desarrollado en todo el mundo desde el siglo XX. Le Corbusier, uno de los arquitectos más influyentes, Walter Gropius, Alvar Aalto y Ludwig Mies van der Rohe son los máximos exponentes de este movimiento arquitectónico.
                        Se caracteriza por la simplificación de formas, la ausencia de ornamento y la estética de distintas tendencias del arte moderno, como son el cubismo, expresionismo, futurismo, entre algunas otras.
                    </p>
                    <p>La utilización de vitrales y grandes ventanales, es otra característica fundamental de este tipo de arquitectura. Esto lo podemos ver en la Ópera de Sydney, en Australia, donde se llevan a cabo los conciertos de ópera, ballet y teatro más prestigiosos del mundo.</p>
                    <a class="btn btn--rightBorder mt-4" href="#/">Leer más</a>
                </div>
            </div>
        </div>
        <!--================ End Sobre la compañia=================-->
        <hr />
        <!--================ Sección de logros=================-->
        <section class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                        <div class="media align-items-center overview__single">
                            <span class="overview__single__icon"><i class="ti-crown"></i></span>
                            <div class="media-body">
                                <h3>286+</h3>
                                <p>Projectos realizados</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                        <div class="media align-items-center overview__single">
                            <span class="overview__single__icon"><i class="ti-face-smile"></i></span>
                            <div class="media-body">
                                <h3>942+</h3>
                                <p>Clientes satisfechos</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                        <div class="media align-items-center overview__single">
                            <span class="overview__single__icon"><i class="ti-user"></i></span>
                            <div class="media-body">
                                <h3>263+</h3>
                                <p>Profesionales</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                        <div class="media align-items-center overview__single">
                            <span class="overview__single__icon"><i class="ti-gift"></i></span>
                            <div class="media-body">
                                <h3>2000+</h3>
                                <p>Tazas de café</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Sección de logros=================-->
    </section>

    <section class="tips tips-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <h2 class="section-intro__subtitle">Get to Know Project Estimate?</h2>
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
                </div>
                <div class="col-lg-5 text-center text-lg-right">
                    <a class="btn btn-dark btn--leftBorder btn--rightBorder" href="#/">Get Estimate</a>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial section-margin">
        <div class="container">
            <div class="section-intro">
                <h4 class="section-intro__title">Nuestros Testimonios</h4>
                <h2 class="section-intro__subtitle bottom-border">Lo que los clientes dicen de nosotros</h2>
            </div>

            <div class="owl-carousel owl-theme testimonialCarousel">
                @foreach (Beneficia.BusArquitectura.Buss.Testimonio item in Model)
                {
                    <div class="item">
                        <div class="media testimonial__slide">
                            <img class="img-fluid mr-4" src="~/@item.img_test" width="120" height="125" alt="">
                            <div class="media-body">
                                <blockquote>
                                    @item.opinion_test
                                </blockquote>
                                <h3>@item.nombre_test</h3>
                                <p>Google Android</p>
                            </div>
                        </div>
                    </div> 
                }
               
            </div>--
        </div>
    </section>
</body>
</html>